body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f6f6f2;
  color: #556b58;
}

h1, h2, h3 {
  color: #2e4f3c;
}

a {
  color: #87a687;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
